<a href="https://colab.research.google.com/github/ds2025-col/dsmethod/blob/main/dsmethod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(1,2,'ann')
print(a)
print(a[-3:-1])

(1, 2, 'ann')
(1, 2)

In [ ]:
a=(1,2,4)
del a  #delete

**SET**

In [ ]:
a={1,2,3,4}
b={1,5,9,8}
print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4, 5, 8, 9}
{1}

In [ ]:
a.difference(b)

{2, 3, 4}

In [ ]:
a.update(b)
print(a)

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
a.add(7)
print(a)

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
a.issubset(b)
print(a.issubset(b))

False

In [ ]:
a.issuperset(b)
print(a.issuperset(b))

True

In [ ]:
a={1,2,3,4}
a.remove(4)
print(a)
print(a.pop())
print(a)

{1, 2, 3}
1
{2, 3}

**DICTIONARY**

In [ ]:
X={'NAME':'ANN','AGE':12,'PLACE':'PMMNA'}
print(X['NAME'])

ANN

In [ ]:
X['NAME']='ANU' #REPLACE
print(X)

{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA'}

In [ ]:
print(X.get('PLACE'))

PMMNA

In [ ]:
Y={'rollno' :20}
print(X.update(Y))
print(X)

None
{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA', 'ANNA': 20, 'KKV': 15, 'rollno': 20}

In [ ]:
print(X.keys())

dict_keys(['NAME', 'AGE', 'PLACE', 'ANNA', 'KKV'])

In [ ]:
X.values()

dict_values(['ANU', 12, 'PMMNA', 20, 15])

In [ ]:
print(X.pop('ANNA'))
print(X)

20
{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA', 'rollno': 20}

In [ ]:
print(X.clear())
print(X)

None
{}

In [ ]:
X={'NAME':'ANN','AGE':12,'PLACE':'PMMNA'}
print(X.pop('NAME'))
print(X)

ANN
{'AGE': 12, 'PLACE': 'PMMNA'}

In [ ]:
from collections import OrderedDict

X = OrderedDict([('AGE', 12), ('PLACE', 'PMMNA')])             # Convert to OrderedDict
X.update({'name':'ra'})
X.move_to_end('name', last=False)                               # Now move_to_end works
print(X)

OrderedDict([('name', 'ra'), ('AGE', 12), ('PLACE', 'PMMNA')])

**string**

In [ ]:
a='hallo world'  #string
print(a)
print(a[2:8])

hallo world
llo wo

In [ ]:
x={'name':'raju','age': 10}
y=[]
for i in x:
  y.append(i)
print(y)

['name', 'age']